body{
    margin: 0;
}
div{
    width: 250px;
    height: 100px;
    border: 5px solid black;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* # significa obtener el id */
#d1{
    background-color: #6fffe9;
    margin: 0;
    padding: 15px;
    float: right;
}
#d2{
    background-color: #5BC0BE;
    margin: 5px 0px 50px 15px;
    border-width: 15px 5px 5px 15px;
    padding: 25px 50px 6px 6px;
    float: left;
}
#d3{
    background-color: #3A506B;
    margin: 0px 0px 0px 75px;
    padding: 50px 6px;
    float: left;
}
#d4{
    background-color: #1C2541;
    margin: 25px 0px 0px 250px;
    padding: 10px 100px 10px;
    float: right;
}