body{
    margin: 0;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 0;
}

img{
    /* Width ancho */
    width: 100%;
}
main{
    display: inline-block;
    width: 70%;
}

nav{
    width: auto;
    display: inline-block;
    /* background-color: chocolate; */
}

/* anchor dentro de nav */
nav a{
    color: white;
    text-decoration: none;
}

/* Utilizando clases */
.padding-100{
    /*padding: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    */
    /* padding-right: 100px;
    padding-left: 100px; */
    padding:0px 100px;
}

.detalles{
    
}

.detalles article{
    border: 1px solid rgb(92, 92, 92);
    margin: 30px 0px;
}

.beneficios{
    /* background-color: darkmagenta; */
    color: lightblue;
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: steelblue;
}
